USE [PhanMemQuanLiBanHang]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhieuIn](
	[ID] [int] NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiPhieuIn] ([ID], [TenLoai]) VALUES (0, N'Tất cả')
INSERT [dbo].[LoaiPhieuIn] ([ID], [TenLoai]) VALUES (1, N'Phiếu Xuất')
INSERT [dbo].[LoaiPhieuIn] ([ID], [TenLoai]) VALUES (2, N'Bill 80mm x Y')

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[Ma] [varchar](8) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[GhiChu] [text] NULL,
	[ConQuanLy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KhuVuc] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'KV000001', N'Miền Nam', NULL, NULL)
INSERT [dbo].[KhuVuc] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'KV000002', N'Miền Bắc', NULL, NULL)
INSERT [dbo].[KhuVuc] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'KV000003', N'Miền trung', NULL, NULL)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[MaVaiTro] [int] NOT NULL,
	[TenVaiTro] [nvarchar](100) NULL,
	[DienGiai] [nvarchar](100) NULL,
	[KichHoat] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VAITRO] ([MaVaiTro], [TenVaiTro], [DienGiai], [KichHoat]) VALUES (1, N'Quản Lí Hệ Thống', NULL, 1)
INSERT [dbo].[VAITRO] ([MaVaiTro], [TenVaiTro], [DienGiai], [KichHoat]) VALUES (2, N'Quản Lí Sản Phẩm', NULL, 1)
INSERT [dbo].[VAITRO] ([MaVaiTro], [TenVaiTro], [DienGiai], [KichHoat]) VALUES (3, N'Quản Lí Nhân Viên', NULL, 1)

GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TyGia](
	[Ma] [varchar](5) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[TyGiaQuyDoi] [float] NULL,
	[ConQuanLy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TyGia] ([Ma], [Ten], [TyGiaQuyDoi], [ConQuanLy]) VALUES (N'EUR', N'Đồng tiền chung EU', 17988, NULL)
INSERT [dbo].[TyGia] ([Ma], [Ten], [TyGiaQuyDoi], [ConQuanLy]) VALUES (N'GBP', N'Bang Anh', 26149, NULL)
INSERT [dbo].[TyGia] ([Ma], [Ten], [TyGiaQuyDoi], [ConQuanLy]) VALUES (N'USD', N'Dola My', 20000, NULL)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhomHang](
	[Ma] [varchar](8) NOT NULL,
	[Ten] [nvarchar](256) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[ConQuanLy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NhomHang] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'ANS', N'An ninh siêu thị', NULL, NULL)
INSERT [dbo].[NhomHang] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'BAT', N'Báo trộm, báo cháy', NULL, NULL)
INSERT [dbo].[NhomHang] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'CAM', N'Camera quan sát', NULL, NULL)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhatKyHeThong](
	[NguoiDung] [varchar](8) NULL,
	[MayTinh] [nvarchar](15) NULL,
	[ThoiGian] [datetime] NOT NULL,
	[ChucNang] [nvarchar](50) NULL,
	[HanhDong] [nvarchar](20) NULL,
	[DoiTuong] [varchar](13) NULL,
PRIMARY KEY CLUSTERED 
(
	[ThoiGian] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[Ma] [varchar](8) NOT NULL,
	[Ten] [nvarchar](20) NULL,
	[GhiChu] [text] NULL,
	[ConQuanLy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DonViTinh] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'DV000029', N'Hệ thống', NULL, NULL)
INSERT [dbo].[DonViTinh] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'DV01', N'bình', NULL, NULL)
INSERT [dbo].[DonViTinh] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'DV02', N'bộ', NULL, NULL)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[ID] [int] NOT NULL,
	[ParentID] [int] NULL,
	[TenChucNang] [nvarchar](100) NULL,
	[TenTrongHeThong] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUCNANG] ([ID], [ParentID], [TenChucNang], [TenTrongHeThong]) VALUES (1, 0, N'Tổng Hệ Thống', N'rbpHeThong')
INSERT [dbo].[CHUCNANG] ([ID], [ParentID], [TenChucNang], [TenTrongHeThong]) VALUES (2, 1, N'Hệ Thống', N'rbHeThong')
INSERT [dbo].[CHUCNANG] ([ID], [ParentID], [TenChucNang], [TenTrongHeThong]) VALUES (3, 2, N'Đơn Vị', NULL)


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BoPhan](
	[Ma] [varchar](3) NOT NULL,
	[Ten] [nvarchar](256) NULL,
	[GhiChu] [text] NULL,
	[ConQuanLy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BoPhan] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'GD', N'Giám Đốc', NULL, NULL)
INSERT [dbo].[BoPhan] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'KD', N'Phòng Kinh Doanh', NULL, NULL)
INSERT [dbo].[BoPhan] ([Ma], [Ten], [GhiChu], [ConQuanLy]) VALUES (N'KT', N'Phòng kế toán', NULL, NULL)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](8) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](256) NULL,
	[DienThoai] [varchar](20) NULL,
	[DiDong] [varchar](20) NULL,
	[Fax] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
	[MaSoThue] [varchar](30) NULL,
	[TenNganHang] [nvarchar](50) NULL,
	[ConQuanLy] [bit] NULL,
	[MaKhuVuc] [varchar](8) NULL,
	[SoTaiKhoan] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NguoiLienHe], [DiaChi], [DienThoai], [DiDong], [Fax], [Email], [Website], [MaSoThue], [TenNganHang], [ConQuanLy], [MaKhuVuc], [SoTaiKhoan]) VALUES (N'KH000001', N'Công ty Quang Phúc', N'Vũ Anh Tuấn', N'Công ty Quang Phúc', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'KV000001', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NguoiLienHe], [DiaChi], [DienThoai], [DiDong], [Fax], [Email], [Website], [MaSoThue], [TenNganHang], [ConQuanLy], [MaKhuVuc], [SoTaiKhoan]) VALUES (N'KH000002', N'Thông_ anh An 451 Hai Bà Trưng', N'Thông', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'KV000001', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NguoiLienHe], [DiaChi], [DienThoai], [DiDong], [Fax], [Email], [Website], [MaSoThue], [TenNganHang], [ConQuanLy], [MaKhuVuc], [SoTaiKhoan]) VALUES (N'KH000003', N'Huệ_GPS Thủ Đức', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'KV000001', NULL)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Ma] [varchar](8) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](256) NULL,
	[DienThoai] [varchar](15) NULL,
	[DiDong] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[ConQuanLy] [bit] NULL,
	[MaBoPhan] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NhanVien] ([Ma], [Ten], [DiaChi], [DienThoai], [DiDong], [Email], [ConQuanLy], [MaBoPhan]) VALUES (N'NV000001', N'Nguyễn Thị Minh  Huệ', NULL, N'0946 980 408', N'0946 980 408', N'huenguyen@hptvn.com', NULL, NULL)
INSERT [dbo].[NhanVien] ([Ma], [Ten], [DiaChi], [DienThoai], [DiDong], [Email], [ConQuanLy], [MaBoPhan]) VALUES (N'NV000002', N'Phan Quang Thông', NULL, N'0946 980 409', N'0946 980 409', N'quangthong@hptvn.com', NULL, NULL)
INSERT [dbo].[NhanVien] ([Ma], [Ten], [DiaChi], [DienThoai], [DiDong], [Email], [ConQuanLy], [MaBoPhan]) VALUES (N'NV000003', N'Nguyễn Hoàng Dũng', NULL, N'0946 980 407', N'0946 980 407', N'hoangdung@hptvn.com', NULL, NULL)


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaSo] [varchar](10) NOT NULL,
	[TenNhaCungCap] [nvarchar](200) NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](256) NULL,
	[DienThoai] [varchar](20) NULL,
	[DiDong] [varchar](20) NULL,
	[Fax] [nvarchar](30) NULL,
	[ConQuanLy] [bit] NULL,
	[MaKhuVuc] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NhaCungCap] ([MaSo], [TenNhaCungCap], [NguoiLienHe], [ChucVu], [DiaChi], [DienThoai], [DiDong], [Fax], [ConQuanLy], [MaKhuVuc]) VALUES (N'NCC000001', N'Công ty CP Minh An', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'KV000002')
INSERT [dbo].[NhaCungCap] ([MaSo], [TenNhaCungCap], [NguoiLienHe], [ChucVu], [DiaChi], [DienThoai], [DiDong], [Fax], [ConQuanLy], [MaKhuVuc]) VALUES (N'NCC000002', N'Công ty MINH TÍN', NULL, NULL, N'Q8', NULL, NULL, NULL, NULL, N'KV000001')
INSERT [dbo].[NhaCungCap] ([MaSo], [TenNhaCungCap], [NguoiLienHe], [ChucVu], [DiaChi], [DienThoai], [DiDong], [Fax], [ConQuanLy], [MaKhuVuc]) VALUES (N'NCC000003', N'Công ty ESACO', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'KV000001')

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO_CHUCNANG](
	[MaVaiTro] [int] NOT NULL,
	[MaChucNang] [int] NOT NULL,
	[TatCa] [bit] NULL,
	[TruyCap] [bit] NULL,
	[Them] [bit] NULL,
	[Xoa] [bit] NULL,
	[Sua] [bit] NULL,
	[InAn] [bit] NULL,
	[Nhap] [bit] NULL,
	[Xuat] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC,
	[MaChucNang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VAITRO_CHUCNANG] ([MaVaiTro], [MaChucNang], [TatCa], [TruyCap], [Them], [Xoa], [Sua], [InAn], [Nhap], [Xuat]) VALUES (1, 1, 1, 0, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[VAITRO_CHUCNANG] ([MaVaiTro], [MaChucNang], [TatCa], [TruyCap], [Them], [Xoa], [Sua], [InAn], [Nhap], [Xuat]) VALUES (1, 2, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[VAITRO_CHUCNANG] ([MaVaiTro], [MaChucNang], [TatCa], [TruyCap], [Them], [Xoa], [Sua], [InAn], [Nhap], [Xuat]) VALUES (1, 4, 1, 1, 1, 1, 1, 1, 1, 1)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemVaiTro] @mavt int,@tenvt nvarchar(100),
@diengiai nvarchar(100),@kichhoat bit
as begin
	insert into VAITRO values(@mavt,@tenvt,@diengiai,@kichhoat)
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhoHang](
	[Ma] [varchar](7) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[LienHe] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](256) NULL,
	[DienThoai] [varchar](10) NULL,
	[ConQuanLy] [bit] NULL,
	[MaNguoiQuanLy] [varchar](8) NULL,
	[Fax] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[KyHieu] [varchar](20) NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KhoHang] ([Ma], [Ten], [LienHe], [DiaChi], [DienThoai], [ConQuanLy], [MaNguoiQuanLy], [Fax], [Email], [KyHieu], [GhiChu]) VALUES (N'CT', N'Kho công ty', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KhoHang] ([Ma], [Ten], [LienHe], [DiaChi], [DienThoai], [ConQuanLy], [MaNguoiQuanLy], [Fax], [Email], [KyHieu], [GhiChu]) VALUES (N'CT2', N'Kho Hà Nội', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KhoHang] ([Ma], [Ten], [LienHe], [DiaChi], [DienThoai], [ConQuanLy], [MaNguoiQuanLy], [Fax], [Email], [KyHieu], [GhiChu]) VALUES (N'CT3', N'Kho Phạm Văn Hai', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemKhachHang] @makh varchar(8),@tenkh nvarchar(100),@nguoilienhe nvarchar(100),@diachi nvarchar(256),
@dienthoai varchar(20),@didong varchar(20),@fax varchar(50),@email varchar(50),@website varchar(50),
@masothue varchar(30),@sotaikhoan varchar(15),@tennganhang nvarchar(50),@quanli bit,@makhuvuc varchar(8)
as begin
	insert into KhachHang values(@makh,@tenkh,@nguoilienhe,@diachi,@dienthoai,@didong,@fax,@email,@website,@masothue,@tennganhang,@quanli,@makhuvuc,@sotaikhoan)
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThemVaiTroChucNang] @mavt int,@machucnang int,
@tatca bit,@truycap bit,@them bit,@xoa bit,@sua bit,@in bit,@nhap bit,@xuat bit
as begin
	insert into VAITRO_CHUCNANG values(@mavt,@machucnang,@tatca,@truycap,@them,@xoa,@sua,@in,@nhap,@xuat)
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNguoiDung] [int] NOT NULL,
	[TenNguoiDung] [varchar](10) NULL,
	[TenHienThi] [nvarchar](100) NULL,
	[MatKhau] [varchar](10) NULL,
	[KichHoat] [bit] NULL,
	[MaVaiTro] [int] NULL,
	[MaNhanVien] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenNguoiDung], [TenHienThi], [MatKhau], [KichHoat], [MaVaiTro], [MaNhanVien]) VALUES (1, N'admin', N'Nguyễn Văn A', N'123', 1, 1, NULL)
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenNguoiDung], [TenHienThi], [MatKhau], [KichHoat], [MaVaiTro], [MaNhanVien]) VALUES (2, N'nv1', N'Nguyễn Văn B', N'123', 1, 2, NULL)
INSERT [dbo].[NGUOIDUNG] ([MaNguoiDung], [TenNguoiDung], [TenHienThi], [MatKhau], [KichHoat], [MaVaiTro], [MaNhanVien]) VALUES (3, N'nv2', N'Nguyễn Văn C', N'123', 1, 3, NULL)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [varchar](10) NOT NULL,
	[TenHang] [nvarchar](256) NULL,
	[GiaMua] [float] NULL,
	[GiaBanSi] [float] NULL,
	[GiaBanLe] [float] NULL,
	[TinhChat] [nvarchar](50) NULL,
	[ConQuanLy] [bit] NULL,
	[MaVach] [varchar](10) NULL,
	[MaNhomHang] [varchar](8) NULL,
	[MaKhoHang] [varchar](7) NULL,
	[MaDonViTinh] [varchar](8) NULL,
	[SoLuong] [int] NULL,
	[SoLuongTon] [int] NULL,
	[TonKhoToiThieu] [int] NULL,
	[MaNhaCungCap] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [GiaMua], [GiaBanSi], [GiaBanLe], [TinhChat], [ConQuanLy], [MaVach], [MaNhomHang], [MaKhoHang], [MaDonViTinh], [SoLuong], [SoLuongTon], [TonKhoToiThieu], [MaNhaCungCap]) VALUES (N'CHA0001', N'Ronal Jack K300', 0, 0, 0, N'Hàng Hoá', NULL, N'CHA0001', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [GiaMua], [GiaBanSi], [GiaBanLe], [TinhChat], [ConQuanLy], [MaVach], [MaNhomHang], [MaKhoHang], [MaDonViTinh], [SoLuong], [SoLuongTon], [TonKhoToiThieu], [MaNhaCungCap]) VALUES (N'CHA0002', N'Ronal Jack 5000AID', 0, 0, 0, N'Hàng Hoá', NULL, N'CHA0002', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HangHoa] ([MaHang], [TenHang], [GiaMua], [GiaBanSi], [GiaBanLe], [TinhChat], [ConQuanLy], [MaVach], [MaNhomHang], [MaKhoHang], [MaDonViTinh], [SoLuong], [SoLuongTon], [TonKhoToiThieu], [MaNhaCungCap]) VALUES (N'CHA0003', N'Ronal Jack 6868', 0, 0, 0, N'Hàng Hoá', NULL, N'CHA0003', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'



SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThemNguoiDung] @tennd varchar(10),@tenhienthi nvarchar(100),
@matkhau varchar(10),@kichhoat bit,@mavaitro int
as begin
	declare @mand int
	set @mand = 1
	while(exists(select nd.MaNguoiDung from NGUOIDUNG nd where nd.MaNguoiDung = @mand))
		set @mand=@mand+1
	insert into NGUOIDUNG values(@mand,@tennd,@tenhienthi,@matkhau,@kichhoat,@mavaitro)
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThemKhoHang] @makho varchar(7),@tenkho nvarchar(50),@nguoilienhe nvarchar(50),@diachi nvarchar(256),
@dienthoai varchar(10),@fax varchar(20),@email varchar(20),@kyhieu varchar(20),
@ghichu nvarchar(100),@conquanli bit,@manguoiquanli varchar(8)
as begin
	insert into KhoHang values(@makho,@tenkho,@nguoilienhe,@diachi,@dienthoai,@conquanli,@manguoiquanli,@fax,@email,@kyhieu,@ghichu)
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[KTDangNhap]
@username varchar(10),@passwword varchar(10),@kq int out
as begin
	set @kq=1
	if not exists(select nd.TenNguoiDung,nd.MatKhau from NGUOIDUNG nd 
	where nd.TenNguoiDung=@username and nd.MatKhau=@passwword)
		set @kq=0	
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThemHangHoa] @ma varchar(10),@ten nvarchar(100),@giamua float,@giabansi float,@giabanle float,@tinhchat nvarchar(50),
@conquanli bit,@mavach varchar(10),@manhomhang varchar(8),@makhohang varchar(7),@madonvi varchar(8),
@soluong int,@soluongton int,@tonkhotoithieu int,@maNCC varchar(10)
as begin
	insert into HangHoa values(@ma,@ten,@giamua,@giabansi,@giabanle,@tinhchat,@conquanli,@mavach,@manhomhang,@makhohang,@madonvi,@soluong,@soluongton,@tonkhotoithieu,@maNCC)
end
GO

ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_DonViTinh] FOREIGN KEY([MaDonViTinh])
REFERENCES [dbo].[DonViTinh] ([Ma])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_DonViTinh]
GO

ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_KhoHang] FOREIGN KEY([MaKhoHang])
REFERENCES [dbo].[KhoHang] ([Ma])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_KhoHang]
GO

ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaSo])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_NhaCungCap]
GO

ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_NhomHang] FOREIGN KEY([MaNhomHang])
REFERENCES [dbo].[NhomHang] ([Ma])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_NhomHang]
GO

ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([Ma])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_KhuVuc]
GO

ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_NhanVien] FOREIGN KEY([MaNguoiQuanLy])
REFERENCES [dbo].[NhanVien] ([Ma])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_NhanVien]
GO

ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([Ma])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO

ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_VAITRO] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VAITRO] ([MaVaiTro])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_VAITRO]
GO

ALTER TABLE [dbo].[NhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_NhaCungCap_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([Ma])
GO
ALTER TABLE [dbo].[NhaCungCap] CHECK CONSTRAINT [FK_NhaCungCap_KhuVuc]
GO

ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_BoPhan] FOREIGN KEY([MaBoPhan])
REFERENCES [dbo].[BoPhan] ([Ma])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_BoPhan]
GO
ALTER TABLE [dbo].[VAITRO_CHUCNANG]  WITH CHECK ADD  CONSTRAINT [FK_VTCN_CHUCNANG] FOREIGN KEY([MaChucNang])
REFERENCES [dbo].[CHUCNANG] ([ID])
GO
ALTER TABLE [dbo].[VAITRO_CHUCNANG] CHECK CONSTRAINT [FK_VTCN_CHUCNANG]
GO

ALTER TABLE [dbo].[VAITRO_CHUCNANG]  WITH CHECK ADD  CONSTRAINT [FK_VTCN_VAITRO] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VAITRO] ([MaVaiTro])
GO
ALTER TABLE [dbo].[VAITRO_CHUCNANG] CHECK CONSTRAINT [FK_VTCN_VAITRO]
GO
--==============================================================================
--ĐỔI MẬT KHẨU(CHƯA CHẠY)
create proc DoiMatKhau @pass varchar(10),@ma int
as begin
	update NGUOIDUNG set MatKhau = @pass where MaNguoiDung=@ma
end


--THÊM KHU VỰC
create proc ThemKhuVuc @ma varchar(8),@ten nvarchar(50),@ghichu nvarchar(50),@conquanly bit
as begin
	insert into KhuVuc values(@ma,@ten,@ghichu,@conquanly)
end
--SỬA KHU VỰC
create proc SuaKhuVuc @ma varchar(8),@ten nvarchar(50),@ghichu nvarchar(50),@conquanly bit
as begin
	update KhuVuc set Ten=@ten,GhiChu=@ghichu,ConQuanLy=@conquanly
	where Ma=@ma
end
--XÓA KHU VỰC
create proc XoaKhuVuc @ma varchar(8)
as begin
	delete KhuVuc where Ma=@ma
end

--==============================================================================
--SỬA KHÁCH HÀNG
create proc SuaKhachHang @ma varchar(8),@ten nvarchar(100),@nguoilienhe nvarchar(100),@diachi nvarchar(100),
@dienthoai varchar(20),@didong varchar(20),@fax varchar(20),@email varchar(50),@website varchar(50),
@masothue varchar(30),@nganhang nvarchar(50),@conquanly bit,@makhuvuc varchar(8),@sotaikhoan varchar(15)
as begin
	update KhachHang set TenKH=@ten,NguoiLienHe=@nguoilienhe,DiaChi=@diachi,DienThoai=@dienthoai,DiDong=@didong,
	Fax=@fax,Email=@email,Website=@website,MaSoThue=@masothue,TenNganHang=@nganhang,ConQuanLy=@conquanly,
	MaKhuVuc=@makhuvuc,SoTaiKhoan=@sotaikhoan
	where MaKH=@ma
end
--XÓA KHÁCH HÀNG
create proc XoaKhachHang @ma varchar(8)
as begin
	delete KhachHang where MaKH=@ma
end

--==============================================================================
--THÊM NHÀ CUNG CẤP
create proc ThemNhaCungCap @ma varchar(8),@ten nvarchar(100),@nguoilienhe nvarchar(100),@chucvu nvarchar(50),
@diachi nvarchar(256),@DienThoai varchar(20),@DiDong varchar(20),@fax nvarchar(30),@conquanly bit,@makhuvuc varchar(8)
as begin
	insert into NhaCungCap values(@ma,@ten,@nguoilienhe,@chucvu,@diachi,@DienThoai,@DiDong,@fax,@conquanly,@makhuvuc)
end
--SỬA NHÀ CUNG CẤP
create proc SuaNhaCungCap @ma varchar(10),@ten nvarchar(100),@nguoilienhe nvarchar(100),@chucvu nvarchar(50),
@diachi nvarchar(100),@DienThoai varchar(20),@DiDong varchar(20),@fax nvarchar(30),@conquanly bit,@makhuvuc varchar(8)
as begin
	update NhaCungCap set TenNhaCungCap=@ten,NguoiLienHe=@nguoilienhe,ChucVu=@chucvu,DiaChi=@diachi,DienThoai=@DienThoai,
	DiDong=@DiDong,Fax=@fax,ConQuanLy=@conquanly,MaKhuVuc=@makhuvuc
	where MaSo = @ma
end
--XÓA NHÀ CUNG CẤP
create proc XoaNhaCungCap @ma varchar(8)
as begin
	delete NhaCungCap where MaSo=@ma
end
--==============================================================================
--SỬA KHO HÀNG
create proc SuaKhoHang @ma varchar(7),@ten nvarchar(50),@lienhe nvarchar(30),@diachi nvarchar(100),
@dienthoai varchar(10),@conquanly bit,@manguoiquanly varchar(8),@fax varchar(20),@email varchar(20),@kyhieu varchar(20),@ghichu nvarchar(100)
as begin
	update KhoHang set Ten=@ten,LienHe=@lienhe,DiaChi=@diachi,DienThoai=@dienthoai,ConQuanLy=@conquanly,MaNguoiQuanLy=@manguoiquanly,Fax=@fax,Email=@email,KyHieu=@kyhieu,GhiChu=@ghichu
	where Ma=@ma
end
--XÓA KHO HÀNG
create proc XoaKhoHang @ma varchar(7)
as begin
	delete KhoHang where Ma=@ma
end
select*from KhoHang
--==============================================================================
--THÊM ĐƠN VỊ TÍNH
create proc ThemDonViTinh @ma varchar(8),@ten nvarchar(20),@ghichu nvarchar(20),@conquanly bit
as begin
	insert into DonViTinh values(@ma,@ten,@ghichu,@conquanly)
end
--SỬA ĐƠN VỊ TÍNH
create proc SuaDonViTinh @ma varchar(8),@ten nvarchar(20),@ghichu nvarchar(20),@conquanly bit
as begin
	update DonViTinh set Ten=@ten,GhiChu=@ghichu,ConQuanLy=@conquanly
	where Ma=@ma
end
--XÓA ĐƠN VỊ TÍNH
create proc XoaDonViTinh @ma varchar(8)
as begin
	delete DonViTinh where Ma=@ma
end

--==============================================================================
--SỬA HÀNG HÓA
create proc SuaHangHoa @ma varchar(10),@ten nvarchar(100),@giamua float,@giabansi float,@giabanle float,@tinhchat nvarchar(20),
@conquanly bit,@mavach varchar(10),@manhomhang varchar(8),@makhohang varchar(7),@madonvitinh varchar(8),
@soluong int,@soluongton int,@tonkhotoithieu int,@manhacungcap varchar(10)
as begin
	update HangHoa set TenHang=@ten,GiaMua=@giamua,GiaBanSi=@giabansi,GiaBanLe=@giabanle,TinhChat=@tinhchat,
	ConQuanLy=@conquanly,MaVach=@mavach,MaNhomHang=@manhomhang,MaKhoHang=@makhohang,MaDonViTinh=@madonvitinh,
	SoLuong=@soluong,SoLuongTon=@soluongton,TonKhoToiThieu=@tonkhotoithieu,MaNhaCungCap=@manhacungcap
	where MaHang=@ma
end
--XÓA HÀNG HÓA
create proc XoaHangHoa @ma varchar(10)
as begin
	delete HangHoa where MaHang=@ma
end

--==============================================================================
--THÊM TỶ GIÁ
create proc ThemTyGia @ma varchar(5),@ten nvarchar(50),@tygiaquydoi float,@conquanly bit
as begin
	insert into TyGia values(@ma,@ten,@tygiaquydoi,@conquanly)
end
--SỬA TỶ GIÁ
create proc SuaTyGia @ma varchar(5),@ten nvarchar(50),@tygiaquydoi float,@conquanly bit
as begin
	update TyGia set Ten=@ten,TyGiaQuyDoi=@tygiaquydoi,ConQuanLy=@conquanly
	where Ma=@ma
end
--XÓA TỶ GIÁ
create proc XoaTyGia @ma varchar(5)
as begin
	delete TyGia where Ma=@ma
end

--==============================================================================
--THÊM BỘ PHẬN
create proc ThemBoPhan @ma varchar(3),@ten nvarchar(100),@ghichu nvarchar(50),@conquanly bit
as begin
	insert into BoPhan values(@ma,@ten,@conquanly,@ghichu)
end
--SỬA BỘ PHẬN
create proc SuaBoPhan @ma varchar(3),@ten nvarchar(100),@ghichu nvarchar(50),@conquanly bit
as begin
	update BoPhan set Ten=@ten,ConQuanLy=@conquanly,GhiChu=@ghichu
	where Ma=@ma
end
select*from BoPhan
--XÓA BỘ PHẬN
create proc XoaBoPhan @ma varchar(3)
as begin
	delete BoPhan where Ma=@ma
end

--==============================================================================
--THÊM NHÂN VIÊN
create proc ThemNhanVien @ma varchar(8),@ten nvarchar(50),@diachi nvarchar(100),@dienthoai varchar(15),
@DiDong varchar(15),@email varchar(20),@conquanly bit,@mabophan varchar(3)
as begin
	insert into NhanVien values(@ma,@ten,@diachi,@dienthoai,@DiDong,@email,@conquanly,@mabophan)
end
--SỬA NHÂN VIÊN
create proc SuaNhanVien @ma varchar(8),@ten nvarchar(50),@diachi nvarchar(100),@dienthoai varchar(15),
@DiDong varchar(15),@email varchar(20),@conquanly bit,@mabophan varchar(3)
as begin
	update NhanVien set Ten=@ten,DiaChi=@diachi,DienThoai=@dienthoai,DiDong=@DiDong,Email=@email,ConQuanLy=@conquanly,MaBoPhan=@mabophan
	where Ma=@ma
end
--XÓA NHÂN VIÊN
create proc XoaNhanVien @ma varchar(8)
as begin
	delete NhanVien where Ma=@ma
end
select *from NhanVien
